<h2 mat-dialog-title>Add new Contact</h2>
<mat-dialog-content>
    <!-- https://material.angular.io/components/form-field/overview -->

    <div class="example-container">

        <mat-form-field appearance="fill">
            <mat-label>Avatar</mat-label>
            <mat-select [(ngModel)]="user.avatar">
                <mat-select-trigger>
                    <mat-icon svgIcon="{{user.avatar}}"></mat-icon>{{user.avatar}}
                </mat-select-trigger>
                <mat-option *ngFor="let avatar of avatars" [value]="avatar">
                    <mat-icon svgIcon="{{avatar}}"></mat-icon>{{avatar}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>

            <!-- two way binding doesnt work levaraging ngModel-Why? -->
            <!-- <input matInput [(ngModel)]="user.name" required> -->
            <!-- for FormsControl we need to import the reactiveFormsModel -->
            <input matInput [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Born</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <textarea matInput [(ngModel)]="user.bio"></textarea>
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-button color="primary" (click)="dismiss()">
        <mat-icon>cancel</mat-icon>
    </button>
</mat-dialog-actions>